<a href="https://colab.research.google.com/github/ktb5891/CNN-practice/blob/main/Flatten_Layer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd

# with shape

In [9]:
# 데이터를 준비
(Ind, Dep), _ = tf.keras.datasets.mnist.load_data()
print(Ind.shape, Dep.shape)

Ind = Ind.reshape(60000,784)
Dep = pd.get_dummies(Dep)
print(Ind.shape, Dep.shape)

(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [10]:
# 모델 생성
X = tf.keras.layers.Input(shape = [784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10,activation='softmax')(H)

model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [11]:
# 모델 학습
model.fit(Ind, Dep, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 5s 2ms/step - loss: 7.6285 - accuracy: 0.7977
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5536 - accuracy: 0.9121
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4715 - accuracy: 0.9273
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4138 - accuracy: 0.9344
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3971 - accuracy: 0.9404
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3726 - accuracy: 0.9451
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3625 - accuracy: 0.9459
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3410 - accuracy: 0.9506
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3484 - accuracy: 0.9522
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3349 - accuracy: 0.9534

In [12]:
# 모델 이용
pred = model.predict(Ind[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [13]:
Dep[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

# with flatten

In [14]:
# 데이터 준비
(Ind, Dep), _ = tf.keras.datasets.mnist.load_data()
print(Ind.shape, Dep.shape)

# Dep = Dep.reshape(60000, 784)
Dep = pd.get_dummies(Dep)
print(Ind.shape,Dep.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [16]:
# 모델 생성
X = tf.keras.layers.Input(shape=[28, 28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84,activation = 'swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics = 'accuracy')

In [17]:
# 모델 학습
model.fit(Ind,Dep,epochs=5)

Epoch 1/5
1875/1875 [==============================] - 4s 2ms/step - loss: 5.6879 - accuracy: 0.7693
Epoch 2/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5665 - accuracy: 0.9077
Epoch 3/5
1875/1875 [==============================] - 5s 2ms/step - loss: 0.4637 - accuracy: 0.9222
Epoch 4/5
1875/1875 [==============================] - 5s 3ms/step - loss: 0.4316 - accuracy: 0.9303
Epoch 5/5
1875/1875 [==============================] - 5s 2ms/step - loss: 0.4127 - accuracy: 0.9349

In [18]:
# 모델 이용
pred = model.predict(Ind[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3     4    5    6     7    8     9
0  0.0  0.0  0.0  0.0  0.00  1.0  0.0  0.00  0.0  0.00
1  1.0  0.0  0.0  0.0  0.00  0.0  0.0  0.00  0.0  0.00
2  0.0  0.0  0.0  0.0  1.00  0.0  0.0  0.00  0.0  0.00
3  0.0  1.0  0.0  0.0  0.00  0.0  0.0  0.00  0.0  0.00
4  0.0  0.0  0.0  0.0  0.01  0.0  0.0  0.01  0.0  0.98